body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
      Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    cursor: default;
    background-image: url('public/bg2.jpg') ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position-x: center;
}



#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10% 0px;
}
.mainText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.css-3d-text {
    font-size: 120px;
    font-weight: 900;
    color: #339e35;

}
.css-3d-text.active {
    font-size: 120px;
    font-weight: 900;
    color: #339e35;
    text-shadow: 0 0 10px #39FF14;
}
.css-3d-text-2 {
    font-size: 100px;
    font-weight: 900;
    color: #339e35;
}
.css-3d-text-2.active {
    font-size: 100px;
    font-weight: 900;
    color: #339e35;
    text-shadow: 0 0 10px #39FF14;
}
#countdown {
    margin-top: 20px;
    font-size: 50px;
    color: #ffffff;
    font-weight: 700;
}
.tema {
    position: absolute;
    top:60px;
    left: 30px;
    background-image: linear-gradient(to left, violet, rgb(96, 51, 129), rgb(105, 105, 214));   -webkit-background-clip: text;
    color: transparent;
    font-size: 1.75rem;
    font-weight: 500
}
.feat {
    position: absolute;
    top:60px;
    right: 30px;
    background-image: linear-gradient(to left, violet, rgb(96, 51, 129), rgb(105, 105, 214));   -webkit-background-clip: text;
    color: transparent;
    font-size: 1.75rem;
    font-weight: 500
}
.center input {
    margin-top: 20px;
    position: relative;
    width: 80px;
    height: 40px;
    -webkit-appearance: none;
    background-color: white;
    border-radius: 20px;
    outline: none;
    transition: .5s;
    box-shadow: inset 0 0 5px rgba(0,0,0,.2);
}
.center input:checked {
    background: #39be22;
    box-shadow: 0 0 10px #39FF14;
}
.center input::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    top: 0;
    left: 0;
    background: white;
    transition: .5s;
    transform: scale(1.1);
    box-shadow: 0 2px 5px rgba(0,0,0,.2);

}
.center input:checked::before {
    left: 40px;
}



.navbar {
    background-color: #040303;
    padding: 1rem;
}
a {
    text-decoration: none;
    color: white;
    font-style: italic;
    
}
.navbarList {
    display: flex;
    justify-content: space-around;
    font-size: 1.60rem;
    font-weight: 500;
}
.navbar a:hover{
    color: plum;
}
.toggleButton {
    position: absolute;
    top: .75rem;
    left: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}
.toggleButton .bar {
    height: 3px;
    width: 100%;
    background-color: aliceblue;
    border-radius: 10px;
}


#quando {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rettangoloData {
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.4);
    border-style: solid;
    border-color: #ffffff;
    box-shadow: 0 0 10px #ffffff;
    border-radius: 20px;
    border-width: 10px;
    width: 40%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 4.5rem;
    font-weight: 500;
}



#dove {
    margin: 300px 0px;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.dove1 {
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.4);
    margin-right: 15px;
    border-style: solid;
    border-color: #ffffff;
    box-shadow: 0 0 10px #ffffff;
    border-radius: 20px;
    border-width: 10px;
    width: 33%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 3rem;
    font-weight: 500;
}
.dove2 {
    margin-left: 15px;
    border-style: solid;
    border-color: #ffffff;
    box-shadow: 0 0 10px #ffffff;
    border-radius: 20px;
    border-width: 10px;
    width: auto;
    height: 450px;
}


#info {
    margin: 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}
.shuttle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    margin: 20px;
}
.css-3d-text-3 {
    margin-bottom: 25px;
    font-size: 75px;
    color: #ffffff;
    font-weight: 800;
 }
.informazioni {
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.4);
    border-style: solid;
    border-color: #ffffff;
    box-shadow: 0 0 10px #ffffff;
    border-radius: 20px;
    border-width: 10px;
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;
    font-weight: 500;
}
.informazioni p {
    margin: 40px;
}
.liberatoria {
    margin: 30px 0;
    font-size: 2rem;
    font-weight: 400;
    display: flex;
    justify-content: center;
}


.social {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
}
.social a {
    margin: 25px;
}
.social i:hover {
    color: aliceblue;
}


footer {
    background-color: black;
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    justify-content: center;
}
.footerDiv {
    width: 40%;
    display: flex;
    justify-content: space-around;
}
.footerText {
    color: aliceblue;
}
.copyright {
    display: flex;
    align-items: center;
}
@media (max-width:1440px){
    .rettangoloData {
        border-width: 5px;
        width: 60%;
        height: 25%;
        font-size: 2.80rem;
    }
    #dove {
        margin: 15% 0px;
        width: 100%;
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .dove1 {
        margin-right: 0;
        margin-bottom: 10px;
        border-width: 5px;
        width: 60%;
        height: 25%;
        font-size: 2.85rem;
    }
    .dove2 {
        margin-left: 0;
        height: 400px;
    }
    iframe {
        width: 500px;
        height: 400px;
    }
    .tema, .feat {
        font-size: 1.5rem;
    }
    i {
        color: black;
    }
}
@media (max-width:1200px){
    .shuttle {
        display: none;
    }
    .informazioni {
        width: 80%;
        font-size: 1.5rem;
    }
    .informazioni p {
        margin: 20px;
    }
    .liberatoria {
        font-size: 1.8rem;
    }
    .tema, .feat {
        font-size: 1.4rem;
    }
}
@media (max-width:1000px){
    #countdown {
        margin-top: 20px;
        font-size: 35px;
        color: #ffffff;
        font-weight: 700;
    }
    .css-3d-text {
        font-size: 100px;
        font-weight: 900;
        color: #339e35;
    
    }
    .css-3d-text.active {
        font-size: 100px;
        font-weight: 900;
        color: #339e35;
        text-shadow: 0 0 10px #39FF14;
    }
    .css-3d-text-2 {
        font-size: 80px;
        font-weight: 900;
        color: #339e35;
    }
    .css-3d-text-2.active {
        font-size: 80px;
        font-weight: 900;
        color: #339e35;
        text-shadow: 0 0 10px #39FF14;
    }
    i {
        color: white;
    }
}
@media (max-width:700px){
    .css-3d-text {
        font-size: 80px;
        font-weight: 900;
        color: #339e35;
    
    }
    .css-3d-text.active {
        font-size: 80px;
        font-weight: 900;
        color: #339e35;
        text-shadow: 0 0 10px #39FF14;
    }
    .css-3d-text-2 {
        font-size: 65px;
        font-weight: 900;
        color: #339e35;
    }
    .css-3d-text-2.active {
        font-size: 65px;
        font-weight: 900;
        color: #339e35;
        text-shadow: 0 0 10px #39FF14;
    }
}
@media (max-width:600px){
    .toggleButton {
        display: flex;
    }
    .navbarList {
        display: none;
        flex-direction: column;
        text-align: left;
        margin-top: 2rem;
    }
    .navbarList a {
        padding: .5rem
    }
    .navbarList.active {
        display: flex;
    }
    #main {
        margin: 50% 0px;
    }
     #countdown {
        margin-top: 20px;
        font-size: 25px;
        color: #ffffff;
        font-weight: 700;
    }
    .css-3d-text {
        font-size: 60px;
        font-weight: 900;
        color: #339e35;
    
    }
    .css-3d-text.active {
        font-size: 60px;
        font-weight: 900;
        color: #339e35;
        text-shadow: 0 0 8px #39FF14;
    }
    .css-3d-text-2 {
        font-size: 45px;
        font-weight: 900;
        color: #339e35;
    }
    .css-3d-text-2.active {
        font-size: 45px;
        font-weight: 900;
        color: #339e35;
        text-shadow: 0 0 8px #39FF14;
    }
    .tema, .feat {
        font-size: 1rem;
    }
    .tema {
        left: 15px;
    }
    .feat {
        right: 15px;
    }
    .tema.active {
        display: none;
    }
    .feat.active {
        display: none;
    }
    #quando {
        height: 300px;
    }
    .rettangoloData {
        width: 80%;
        height: 25%;
        font-size: 2rem;
    }
    .dove1 {
        width: 80%;
        height: 15%;
        font-size: 2rem;
    }
    .dove2 {
        height: 300px;
    }
    iframe {
        width: 300px;
        height: 300px;
    }
    .informazioni {
        font-size: 1rem;
    }
    .liberatoria {
        font-size: 1rem;
    }
    footer {
        position: relative;
    }
    .footerDiv {
        width: auto;
        display: flex;
        flex-direction: column;
    }
}
@media (max-width:400px){
    .css-3d-text {
        font-size: 50px;
        font-weight: 900;
        color: #339e35;
    
    }
    .css-3d-text.active {
        font-size: 50px;
        font-weight: 900;
        color: #339e35;
        text-shadow: 0 0 5px #39FF14;
    }
    .css-3d-text-2 {
        font-size: 37px;
        font-weight: 900;
        color: #339e35;
    }
    .css-3d-text-2.active {
        font-size: 37px;
        font-weight: 900;
        color: #339e35;
        text-shadow: 0 0 5px #39FF14;
    }
}